section{
    scroll-margin-top: 90px;
    border-bottom: 2px dashed $color-terciario;
    background: $color-fondo-seccion;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}