    $color-primario: #19c5a2;
    $color-secundario: #045a67;
    $color-terciario: #00b9d2;
    $color-fondo-header: #109f90;
    $color-texto-header: #430404;
    $color-fondo-nav: #4cbca4;
    $color-texto-nav: #384f63;
    $color-hover-nav: #9ddec7e9;
    $color-fondo-proyectos: #ffffff; 
    $color-titulo-sobre-mi: #000000; 
    $color-proyecto-bg: #333;
    $color-proyecto-shadow: #28b2e1; 
    $color-proyecto-info-bg: #0000001a; 
    $color-imagen-completa-bg: #000000b3;
    $color-fondo-seccion: linear-gradient(335deg, $color-primario, $color-secundario);
    $color-texto-seccion: #6aedf4;
    $color-texto-seccion-stroke: #080707;
    $color-fondo-sobre-mi: linear-gradient(45deg, $color-primario,$color-secundario);
    $color-titulo-sobre-mi: #035877;
    $color-fondo-habilidades: linear-gradient(270deg, $color-primario, $color-secundario);
    $color-titulo-habilidades: #925250;
    $color-fondo-proyectos: linear-gradient(135deg, $color-primario, $color-secundario);
    $color-titulo-proyectos: #1eb3b7;
    $color-footer: linear-gradient(180deg,$color-primario, $color-secundario);
    $color-texto-footer: #2f4040;
    $color-texto-footer-stroke: #00e4d9;
    $color-input-background: #2a2727;
    $color-input-text: #96ddedff;
    $color-input-border: #5ab8bf;
    $color-btn-background: -webkit-linear-gradient(top, #174649, #0baaea);
    $color-btn-background-hover: -webkit-linear-gradient(top, #02c4eb, #00ccff);
  